%h2= "Hi #{@profile[:name]}!"
- message = "You have connected to your"
- message << " #{current_user.authenticated_with.collect(&:titleize).join(" and ")}"
- message << " #{'account'.send(current_user.authenticated_with.length > 1 ? 'pluralize' : 'singularize')}."
%p= message
%img.profile{:src => @profile[:photo]}
%p
  %a{:href => @profile[:link]}= "Your on #{@profile[:title]}!"