!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title Authlogic Connect
    = javascript_include_tag :defaults
  %body
    = pluralize User.logged_in.count, "user"
    currently logged in
    %br/
    - if !current_user
      = link_to "Register", new_account_path
      |
      #{link_to "Log In", new_user_session_path} |
    - else
      = link_to "My Account", account_path
      |
      #{link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?"}
    %p{:style => "color: green"}= flash[:notice]
    = yield